<mat-toolbar color="primary">
  <span>Memini Awards</span>
  <span class="spacer"></span>
  <div class="button-container">
  <button mat-button routerLink="vote">Vote</button>

  <!-- Pulsante di menu Awards -->
  <mat-menu #awardsMenu="matMenu">
    <button mat-menu-item routerLink="award-list">List</button>
    <button mat-menu-item routerLink="award-create">Create</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="awardsMenu">Awards</button>

  <button mat-button routerLink="result-page">Results</button>
  </div>
  <span class="spacer"></span>
  <span> userName </span>
</mat-toolbar>
