<div class="award-list-container">
  <mat-card class="award-card" *ngFor="let award of awards">
    <mat-card-header>
      <mat-card-title>
        <span>{{ award.name }}</span>

      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="hexagon-container">
        <app-hexagon [imageUrl]="award.imageUrl"></app-hexagon>
      </div>
      <p class="award-description" [matTooltip]="award.description">{{truncateDescription(award.description)}}</p>

    </mat-card-content>
    <mat-card-actions style="margin: auto 0 0;">
      <button style="width: 100%;" mat-flat-button color="primary">Vote!</button>
    </mat-card-actions>
    <p style="text-align: center; color: #673ab7">{{ award.creatorName }}</p>
  </mat-card>
</div>
